/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Marykate";
  src: url("FontsFree-Net-Marykate-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
